<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bcms.dao.BusinessCardDao">

    <resultMap type="BusinessCard" id="businesscardMap">
    <id column="BCNO" property="bcno"/>
    <result column="MNO" property="mno"/>
    <result column="NAME" property="name"/>
    <result column="MTEL" property="mtel"/>
    <result column="TEL" property="tel"/>
    <result column="FAX" property="fax"/>
    <result column="EMAIL" property="email"/>
    <result column="MEMO" property="memo"/>
  </resultMap>
  
	<select id="getCardList" parameterType="int" resultMap="businesscardMap">
		select NAME from bizcard where MNO = #{mno}
	</select>
		
</mapper>




