<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bcms.dao.MemberDao">

	<insert id="insert" parameterType="Member">
		insert into member(NAME, PWD, EMAIL) values (#{name}, #{pwd}, #{email})
	</insert>
	
	<select id="identifyEamil" parameterType="String" resultType="Integer">
		select count(EMAIL) from member where email = #{email}
	</select>
		
</mapper>




